# Node
node_modules
npm-debug.log
yarn-error.log

# Environment variables
.env
.env.*

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Logs
logs
*.log

# OS
.DS_Store
Thumbs.db

# Tests
coverage
